<!-- Mirrored from codervent.com/synadmin/demo/vertical/error-blank-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Jul 2021 07:29:08 GMT -->
<head>

    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!--favicon-->
	<link rel="icon" href="<%= base_url %>/assets/img/logo.jpg" type="image/jpg" />

	<%- include("style") %>
	
	<title><%= title %></title>
</head>
