
<!--start header -->
<header>
    <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i></div>
            <%- //include("left-header") %>
            <%- //include("search-header") %>
            <%- include("right-header") %>
            <%- include("profile") %>
        </nav>
    </div>
</header>
<!--end header -->
