
<div class="sidebar-header">
    <div>
        <img src="<%= base_url %>/assets/img/logo.jpg" class="logo-icon" alt="logo icon">
    </div>
    <div>
        <h4 class="logo-text"><%= app_name %></h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-first-page'></i>
    </div>
</div>
			